.recipientPhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #888;
}

.MainContainer{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 30px;
    margin-left: 2rem;
    margin-top: 1rem;  
}

/* .messageContainer{
    
} */