@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e4e9f7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: #ffffff;
}

.logo {
  /* margin-right: 15rem; */
  width: 180px;
}
.goHome {
  width: 115px;
  height: 50px;
  border: 2px solid hsla(208, 29%, 38%, 1);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  /* background: rgba(128, 128, 128, 0.404); */
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.goHome:hover {
  background: rgb(5, 163, 255);
  color: white;
  font-size: 1.2em;
  margin-top: 0;
}
.goHome a {
  color: black;
  text-decoration: none;
}
.flexClass {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 4rem;
}
.container {
  /* background-color: #A7A2A9; */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.container.dark-mode {
  background-color: #1c1c1c;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-picture {
  margin-bottom: 10px;
}
.profile-picture label {
  margin-bottom: 5px;
}
.profile-picture-input {
  width: 100%;
}

.profile-picture-preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-left: 12rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  text-shadow: 1px 1px 1px #ccc;
  opacity: 0.7;
}

.social,
.name-input,
.email-input,
.gender-input,
.stack-input,
.phone-input,
.address-input,
.bio-input,
.chat-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #848482;
  font-weight: 600;
}

.stack-input {
  padding: 5px;
  margin-bottom: 1rem;
}
.social-input,
.nameDiv,
.genderDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin-bottom: 5px;
  gap: 20px;
}

.bio-input {
  padding: 2rem;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.update-btn {
  display: block;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  margin-top: 40px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.update-btn:active {
  transform: translateY(2px);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.update-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 25% 100%;
  animation: animate 0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.update-btn:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

.update-btn span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #000;
  border-radius: 3px;
  height: 100%;
}

@keyframes animate {
  to {
    transform: translateX(-25%);
  }
}

.styleMe {
  padding-bottom: 1rem;
}
.styleMe {
  color: #85bcc7;
  transition: font-size 0.3s ease;
  font-size: 1rem;
}

.styleMe:hover {
  font-size: 3rem;
  color: #242f31;
}
